﻿@model FoodSalesWEB.Models.ViewModels.FoodInfoModels

@{
   ViewBag.Title = "Food Sales Web - Edit";
}

<style type="text/css">
</style>


<form action="" method="post" enctype="multipart/form-data">
    <br />
    <section id="basic-horizontal-layouts" class="row" aria-labelledby="aspnetTitle">
        <div class="container-xl">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <h2 class="page-title">
                            Edit
                        </h2>
                    </div>

                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page body -->

    <section id="basic-horizontal-layouts">
        <!-- page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-deck row-cards">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header page-header-Submit">
                                <h3 class="card-title font-Submit"><b>รายละเอียด</b></h3>
                            </div>
                            <div class="card-body">
                                @if (@Model.m_Food != null)
                                {
                                    @Html.HiddenFor(m => m.m_Food.foodID)

                                    <div class="row g-2 align-items-center mb-n3" style="margin-top: auto;">
                                        <div class="col-12 ">

                                            @Html.Label("OrderDate :")
                                            <div>
                                                @DateTime.SpecifyKind(@Model.m_Food.OrderDate, DateTimeKind.Local).ToString("dd/MM/yyyy")
                                                @Html.HiddenFor(m => m.m_Food.OrderDate)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-2 align-items-center mb-n3" style="margin-top: auto;">
                                        <div class="col-12 ">
                                            @Html.Label("Category :")
                                            <div>
                                                @if (Model.SelectCategoryList != null && Model.SelectCategoryList.Count() > 0)
                                                {
                                                    @Html.DropDownListFor(model => model.m_Food.Category, new SelectList(Model.SelectCategoryList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.HiddenFor(m => m.m_Food.Category)
                                                    @Html.ValidationMessageFor(model => model.m_Food.Category, "กรุณาเลือก Category", new { @class = "text-danger" })
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-2 align-items-center mb-n3" style="margin-top: auto;">
                                        <div class="col-12 ">
                                            @Html.Label("City :")
                                            <div>
                                                @if (Model.SelectCityList != null && Model.SelectCityList.Count() > 0)
                                                {
                                                    @Html.DropDownListFor(model => model.m_Food.City, new SelectList(Model.SelectCityList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.HiddenFor(m => m.m_Food.City)
                                                    @Html.ValidationMessageFor(model => model.m_Food.City, "กรุณาเลือก City", new { @class = "text-danger" })
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-2 align-items-center mb-n3" style="margin-top: auto;">
                                        <div class="col-12 ">
                                            @Html.Label("Region :")
                                            <div>
                                                @if (Model.SelectRegionList != null && Model.SelectRegionList.Count() > 0)
                                                {
                                                    @Html.DropDownListFor(model => model.m_Food.Region, new SelectList(Model.SelectRegionList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                                    @Html.HiddenFor(m => m.m_Food.Region)
                                                    @Html.ValidationMessageFor(model => model.m_Food.Region, "กรุณาเลือก Region", new { @class = "text-danger" })
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-2 align-items-center mb-n3" style="margin-top: auto;">
                                        <div class="col-12 ">
                                            @Html.Label("Product Name :")
                                            <div>
                                                @Html.EditorFor(m => m.m_Food.Product, new { htmlAttributes = new { @class = "form-control", style = "width: 100%;", @autocomplete = "off" } })
                                                @Html.HiddenFor(m => m.m_Food.Product)
                                                @Html.ValidationMessageFor(model => model.m_Food.Product, "กรุณาระบุบ Product Name", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-2 align-items-center mb-n3" style="margin-top: auto;">
                                        <div class="col-12 ">
                                            @Html.Label("Quantity :")
                                            <div>
                                                @Html.EditorFor(m => m.m_Food.Quantity, new { htmlAttributes = new { @class = "form-control", style = "width: 100%;", @autocomplete = "off" } })
                                                @Html.HiddenFor(m => m.m_Food.Quantity)
                                                @Html.ValidationMessageFor(model => model.m_Food.Quantity, "กรุณาระบุบ Quantity", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-2 align-items-center mb-n3" style="margin-top: auto;">
                                        <div class="col-12 ">
                                            @Html.Label("UnitPrice :")
                                            <div>
                                                @Html.EditorFor(m => m.m_Food.UnitPrice, new { htmlAttributes = new { @class = "form-control", style = "width: 100%;", @autocomplete = "off" } })
                                                @Html.HiddenFor(m => m.m_Food.UnitPrice)
                                                @Html.ValidationMessageFor(model => model.m_Food.UnitPrice, "กรุณาระบุบ UnitPrice", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="row g-2 align-items-center mb-n3" style="margin-top: auto;">
                                        <div class="col-12 ">
                                            @Html.Label("TotalPrice :")
                                            <div>
                                                @Html.EditorFor(m => m.m_Food.TotalPrice, new { htmlAttributes = new { @class = "form-control", style = "width: 100%;", @autocomplete = "off" } })
                                                @Html.HiddenFor(m => m.m_Food.UnitPrice)
                                            </div>
                                        </div>
                                    </div>*@

                                    <div class="form-footer">
                                        <button type="submit" id="btnSave" class="btn btn-info" name="action:Edit">บันทึก</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />


    </section>
</form>



@section scripts{
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            window.Litepicker && (new Litepicker({
                element: document.getElementById('Date'),
                buttonText: {
                    previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>`,
                    nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>`,
                },
            }));
        });
    </script>
}


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>m_food</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.foodID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.foodID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.foodID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Region, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Region, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Product, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Product, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Product, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TotalPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TotalPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TotalPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
