﻿@model  FoodSalesWEB.Models.FoodModels


@{
    ViewBag.Title = "Food Sales Web";
}


<style type="text/css">
</style>

<form action="" method="post" enctype="multipart/form-data">
    <br />
    <section id="basic-horizontal-layouts" class="row" aria-labelledby="aspnetTitle">
        <div class="container-xl">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <h2 class="page-title">
                            Food Sales Web
                        </h2>
                    </div>

                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page body -->

    <section id="basic-horizontal-layouts">
        <!-- page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-deck row-cards">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header page-header-Submit">
                                <h3 class="card-title font-Submit"><b>ค้นหา</b></h3>
                            </div>
                            <div class="card-body">

                                <div class="row g-2 align-items-center mb-n3" style="margin-top: auto;">
                                    <div class="col-12 ">
                                        @Html.LabelFor(model => model.ProductNameSearch)
                                        <div>
                                            @Html.EditorFor(m => m.ProductNameSearch, new { htmlAttributes = new { @class = "form-control", style = "width: 100%;", @autocomplete = "off" } })
                                            @Html.HiddenFor(model => Model.ProductNameSearch)
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center mb-n3" style="margin-top: auto;">
                                    <div class="col-6 ">
                                        @Html.Label("Order Date Start :")
                                        <div>
                                            <div class="input-icon mb-2">
                                                @Html.EditorFor(model => model.OrderDateStart, new { htmlAttributes = new { @class = "form-control", @id = "DateStart", placeholder = "กรุณาเลือกวันที่" } })
                                                <span class="input-icon-addon">
                                                    <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="4" y="5" width="16" height="16" rx="2"></rect><line x1="16" y1="3" x2="16" y2="7"></line><line x1="8" y1="3" x2="8" y2="7"></line><line x1="4" y1="11" x2="20" y2="11"></line><line x1="11" y1="15" x2="12" y2="15"></line><line x1="12" y1="15" x2="12" y2="18"></line></svg>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.OrderDateStart)
                                        </div>
                                    </div>
                                    <div class="col-6 ">
                                        @Html.Label("Order Date End :")
                                        <div>
                                            <div class="input-icon mb-2">
                                                @Html.EditorFor(model => model.OrderDateEnd, new { htmlAttributes = new { @class = "form-control", @id = "DateEnd", placeholder = "กรุณาเลือกวันที่" } })
                                                <span class="input-icon-addon">
                                                    <!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="4" y="5" width="16" height="16" rx="2"></rect><line x1="16" y1="3" x2="16" y2="7"></line><line x1="8" y1="3" x2="8" y2="7"></line><line x1="4" y1="11" x2="20" y2="11"></line><line x1="11" y1="15" x2="12" y2="15"></line><line x1="12" y1="15" x2="12" y2="18"></line></svg>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.OrderDateEnd)
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center mb-n3">
                                    <div class="col-6 ">
                                        @Html.Label("Category :")
                                        <div>
                                            @if (Model != null && Model.SelectCategoryList != null && Model.SelectCategoryList.Count() > 0)
                                            {
                                                @Html.DropDownListFor(model => model.SelectCategory, new SelectList(Model.SelectCategoryList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                                @*@Html.ValidationMessageFor(model => model.SelectCategory, "กรุณาเลือก Category", new { @class = "text-danger" })*@
                                            }
                                        </div>
                                    </div>
                                    <div class="col-6 ">
                                        @Html.Label("City :")
                                        <div>
                                            @if (Model != null && Model.SelectCityList != null && Model.SelectCityList.Count() > 0)
                                            {
                                                @Html.DropDownListFor(model => model.SelectCity, new SelectList(Model.SelectCityList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                                @*@Html.ValidationMessageFor(model => model.SelectCity, "กรุณาเลือก City", new { @class = "text-danger" })*@
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="row g-2 align-items-center mb-n3" style="margin-top: auto;">
                                    <div class="col-6 ">
                                        @Html.Label("Region :")
                                        <div>
                                            @if (Model != null && Model.SelectRegionList != null && Model.SelectRegionList.Count() > 0)
                                            {
                                                @Html.DropDownListFor(model => model.SelectRegion, new SelectList(Model.SelectRegionList, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                                @*@Html.ValidationMessageFor(model => model.SelectRegion, "กรุณาเลือก Region", new { @class = "text-danger" })*@
                                            }
                                        </div>
                                    </div>
                                    <div class="col-6 ">

                                    </div>
                                </div>

                                <div class="form-footer">
                                    <button type="submit" id="btnSearch" class="btn btn-info" name="action:Search">ค้นหา</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header page-header-Submit">
                            <h3 class="card-title font-Submit">ผลการค้นหา</h3>
                        </div>

                        <div class="card-body">
                            <div id="table-scroll">
                                <div class="table-responsive">
                                    <table id="tbChange" class="table card-table table-vcenter text-nowrap datatable">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">No</th>
                                                <th style="text-align: center;">foodID</th>
                                                <th style="text-align: center;">OrderDate</th>
                                                <th style="text-align: center;">Region</th>
                                                <th style="text-align: center;">City</th>
                                                <th style="text-align: center;">Category</th>
                                                <th style="text-align: center;">Product Name</th>
                                                <th style="text-align: center;">Quantity</th>
                                                <th style="text-align: center;">UnitPrice</th>
                                                <th style="text-align: center;">TotalPrice</th>
                                                <th style="text-align: center;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.m_Foods != null && Model.m_Foods.Count() > 0)
                                            {
                                                int i = 1;
                                                foreach (var row in Model.m_Foods.OrderBy(s => s.OrderDate).ThenBy(x => x.Product))
                                                {
                                                    <tr>
                                                        <td style="text-align:center;">@i</td>
                                                        <td style="text-align:center;"> @row.foodID</td>
                                                        <td style="text-align:center;"> @DateTime.SpecifyKind(@row.OrderDate, DateTimeKind.Local).ToString("dd/MM/yyyy")</td>
                                                        <td style="text-align:center;"> @row.Region</td>
                                                        <td style="text-align:center;"> @row.City</td>
                                                        <td style="text-align:center;"> @row.Category</td>
                                                        <td style="text-align:center;"> @row.Product</td>
                                                        <td style="text-align:center;"> @row.Quantity</td>
                                                        <td style="text-align:center;"> @row.UnitPrice</td>
                                                        <td style="text-align:center;"> @row.TotalPrice</td>
                                                        @*<td style="text-align:center;"> Edit</td>*@
                                                        <td style="text-align:center;">
                                                            <a href="@Url.Action("Edit","Food",new { foodID = row.foodID})">Edit </a> |
                                                            <a href="@Url.Action("Delete","Home",new {foodID = row.foodID})">Delete </a>
                                                        </td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>


    @if (Model != null)
    {
        @Html.HiddenFor(model => model.m_Foods)
        @Html.HiddenFor(model => model.SelectCategoryList)
        @Html.HiddenFor(model => model.SelectCategory)
        @Html.HiddenFor(model => model.SelectCityList)
        @Html.HiddenFor(model => model.SelectCity)
        @Html.HiddenFor(model => model.SelectRegionList)
        @Html.HiddenFor(model => model.SelectRegion)

    }
</form>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tbChange').DataTable({ "searching": true, "ordering": true, "pageLength": 50 });
        });

        document.addEventListener("DOMContentLoaded", function () {
            window.Litepicker && (new Litepicker({
                element: document.getElementById('DateStart'),
                buttonText: {
                    previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>`,
                    nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>`,
                },
            }));
        });

        document.addEventListener("DOMContentLoaded", function () {
            window.Litepicker && (new Litepicker({
                element: document.getElementById('DateEnd'),
                buttonText: {
                    previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>`,
                    nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>`,
                },
            }));
        });

    </script>
}